
#container{
text-align: center;
}
#play1{
display: inline-block;
margin: 20px;
    }
#input{
        width: 40px;
    }
#button{
        margin: 40px;
    }
    th{
        border-color:black;
        border-style: solid;
        padding: 10px;
        text-align: center;
    
    }
    table{
        display: flex;
        align-items: center;
        margin-left: 550px;
    }
    td{
        border-color:black;
        border-style: solid;
        padding: 10px;
        text-align: center;
    
    }

        